
* {
  padding: 0;
  margin: 0;
};

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}

#canvas{
  border: 2px solid black;
}

button{
  display: fixed;
  position: absolute;
  margin-left: 75px;
  margin-top: 50px;
  border: 1px solid blue;
  width: 60px;
  height: 30px;
}
